.page {
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Philosopher', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
}

@-moz-document url-prefix() {
    .page {
        font-weight: lighter !important;
    }
}

.image {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.elements__card {
    list-style: none;
    width: 300px;
    border: 2px solid #395036;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elements__description {
    width: 280px;
    margin: 0 auto;
}

.card__text {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 900;

}

.card__button {
    border-radius: 7px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 900;
    margin: 10px auto;
    align-items: center;
    display: flex;
    background-color: #00990F;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
}

.card__button:hover {
    box-shadow: 0px 5px 40px 20px rgb(66, 255, 15);
    transition: opacity 0.9s;
}

.catalog__elements {
    width: 1270px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
}

@media(max-width: 1300px) {
    .catalog__elements {
        width: 950px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media(max-width: 1000px) {
    .image {
        width: 180px;
        height: 150px;
    }

    .elements__card {
        width: 250px;
    }

    .elements__description {
        width: 230px;
    }

    .card__text {
        font-size: 15px;
    }

    .card__button {
        line-height: 25px;
        font-size: 16px;
    }

    .catalog__elements {
        width: 800px;
    }
}

@media(max-width: 850px) {
    .catalog__elements {
        width: 780px;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media(max-width: 800px) {
    .catalog__elements {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 520px;
    }

}

@media(max-width: 530px) {

    .catalog__elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
    }

}